*.a
*.bin
*.hex
*.map
*.log
*.elf
*.zip
*.d
*.o
*.e
*.ihex
*.pyc
*~
obj_*
Makefile.target
Makefile.*.defines

# platform build artifacts
*.cc2538dk
*.cooja
*.jn516x
*.native
*.nrf52dk
*.openmote-cc2538
*.sky
*.firmware
*.srf06-cc26xx
*.zoul

# other nRF52 build artifacts
*.jlink

#test artifacts
*.testlog
*.scriptlog
*.coojalog
*.summary
*.err
summary
tests/[0-9][0-9]-*/org/

#sublime text project
*.sublime-*
doc
*.dvi
